

  .u-icon-1 {
    width: 166px;
    height: 166px;
    margin: 460px 96px 0 auto;
    padding: 0;
  }
  
 .u-icon-2 {
    width: 103px;
    height: 103px;
    margin: -84px 78px 0 auto;
    padding: 0;
  }
  
   .u-text-1 {
    font-weight: 500;
    margin: 0 78px 60px auto;
  }
  
